.menu-user{
    position: relative;
    height: 100%;
    width: 45px;
    border-radius: 50%;
}

.menu-user-img{
    position: relative;
    height: 100%;
    border-radius: 50%;
}

.menu-user-im{
    position: relative;
    width: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}